.btn {
  padding: 20px 39px;
  border: none;
  background-color: transparent;
  align-items: center;
  display: flex;
  border-radius: 16px;
}
.primary {
  background-color: #efd372;
  border-radius: 16px;
  color: #274c5b;
  font-size: 15px;
  font-weight: 600;
  gap: 10px;
}
.secondary {
  background-color: #274c5b;
  color: white;
  gap: 10px;
}
.thirdy {
  border: solid 1px #274c5b;
  color: #274c5b;
  gap: 10px;
}
